.Hero-Text {
    width: 60%;
    text-align: center;
    height: calc(100vh);
    padding: 30vh 20px;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
}
.Title {
    font-size: 4rem;
    line-height: 4rem;
}

.Subtitle {
    padding-top: 3rem;
    font-size: 1.55rem;
}
.Text {
    padding: 0 80px;
    font-size: 1.25rem;
}

.button{
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.55rem;
    background-color: black;
    color: #b6b6b6;
    transition: 200ms ease-in-out;
}

a:hover{
    background-color: #b6b6b6;
    color: black;
}

.fc .fc-col-header-cell-cushion {
    color: black;
}

.fc th, .fc .fc-daygrid-day-frame {
    background-color: #b6b6b6;
    opacity: 85%;
    border-color: black;
}

.fc .fc-daygrid-day-number {
    color: black;
    font-weight: bolder;
}
  

@media screen and (max-width:1111px) {
    .Hero-Text {
        width: calc(100% - 475px);
        text-align: center;
        height: calc(100vh);
        padding: 30vh 0;
    }
}

@media screen and (max-width:850px) {
    .Hero-Text {
        width: 100%;
        text-align: center;
        padding: 40vh 20px ;
        height: fit-content;
        color: #E0E0E0;
    }

    iframe {
        width: 100vw;
    }
}
@media screen and (max-width:767px) {
    .Hero-Text {
        width: 100%;
        text-align: center;
        padding: 10vh 20px 10vh 20px;
        height: fit-content;
        color: #E0E0E0;
        margin: 0 0 10vh 0;
    }
    
    .Title {
        font-size: 3rem;
    }
}



