.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #90A4AE;
}

.ui.menu {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.ui.secondary.inverted.pointing.menu .item.logo {
    padding: 0px;
}

.ui.secondary.inverted.pointing.menu {
    border: none;
}

.ui.inverted.segment.Headest {
    background: #1a1a1a;
    color: #1a1a1a;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
    border-radius: 0;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    transition: all 200ms linear;
}

.ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover {
    transition: all 200ms linear;
}

@media only screen and (max-width: 767px) {
    .ui.inverted.segment.Headest {
        background: #1a1a1a;
        color: #1a1a1a;
        position: relative;
        width: 100%;
    }
}