a.ui.image {
    padding: 0px 7px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.5rem;
    background-color: #1a1a1a;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .fixed {
        position: relative;
    }
}